/* Global Styles */
* {
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    overflow: hidden;
}

/* Card Styles */
.card-header {
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 500px 8;
}
.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    min-height: 70vh;
    width: 300px;
    background-image: linear-gradient(-45deg, #4595FC, #C434E3);
    padding: 30px 30px 10px 30px;
    border-radius: 20px;
}
.card-icon-image {
    background-size: cover;
    width: 100px;
    height: 100px;
}

/* User Styles */
.username {
    margin-top: 10px;
    line-height: 1.5;
    color: white;
    font-size: x-large;
}
.user-bio {
    color: white;
    font-weight: normal;
    font-size: medium;
}

/* About Styles */
.about-section {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    column-gap: 40px;
    margin-top: 20%;
    margin-right: 0;
    margin-bottom: 20%;
    margin-left: 0;
}
.about-item {
   display: flex;
   flex-direction: column;
   text-align: center;
   color: white;
}

/* Item Styles */
.item-value {
    font-weight: 700;
}

/* Footer Styles */
.card-footer {
    width: 100%;
}
.card-button {
    background: white;
    width: 100%;
    outline: none;
    border: none;
    padding: 10px 0;
    border-radius: 20px;
    font-weight: 700;
    color: #006af5;
}